.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
.login-yes img {
    float: left;
    width: 36px;
    height: 36px;
    margin: 8px 0;
    vertical-align: middle;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.login-no img {
    float: left;
    width: 36px;
    height: 36px;
    margin: 8px 0;
    vertical-align: middle;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.caseConsultation-procedure-div {
    width: 100%;
    height: 386px;
    background: url("../img/banner5.png") center center no-repeat;
    position: relative;
  }

  .caseConsultation-procedure-div button {
    position: absolute;
    width: 80px;
    height: 80px;
    text-align: center;
    background: #2F7CE1;
    color: #fff;
    bottom: 55px;
    left: 50%;
    margin-left: -50px;
    border-radius: 40px;
    font-size: 16px;
    border: 0px;
    outline: none;
  }

  .caseConsultation-process-system{
    padding-top: 40px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 48px;
    color: #333333;
    /* margin: 74px 0 20px 0; */
  }

  .caseConsultation-process-eng{
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 18px;
    color: #666666;
    margin: 74px 10px 20px 0;
  }

  @font-face {
    font-family: 'iconfont';  /* project id 1064275 */
    src: url('//at.alicdn.com/t/font_1064275_g4nangfphck.eot');
    src: url('//at.alicdn.com/t/font_1064275_g4nangfphck.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1064275_g4nangfphck.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1064275_g4nangfphck.woff') format('woff'),
    url('//at.alicdn.com/t/font_1064275_g4nangfphck.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1064275_g4nangfphck.svg#iconfont') format('svg');
  }
    .iconfont{
        font-family:"iconfont" !important;
        font-size:14px;font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
    }

    ::-webkit-scrollbar-track-piece{
      background-color:#fff;/*滚动条的背景颜色*/
      -webkit-border-radius:0;/*滚动条的圆角宽度*/
      }
      ::-webkit-scrollbar{
      width:8px;/*滚动条的宽度*/
      height:8px;/*滚动条的高度*/
      }
      ::-webkit-scrollbar-thumb:vertical{/*垂直滚动条的样式*/
      height:50px;
      background-color:#999;
      -webkit-border-radius:4px;
      outline:2px solid #fff;
      outline-offset:-2px;
      border:2px solid #fff;
      }
      ::-webkit-scrollbar-thumb:hover{/*滚动条的hover样式*/
      height:50px;
      background-color:#9f9f9f;
      -webkit-border-radius:4px;
      }

